---
layout: diaspora_layout
---
      
          
<div class="horizontal" style= "position:relative;">
    <div class="table">
          
        {% include diaspora_section1.html %}
        {% include diaspora_section2.html %}
        {% include diaspora_section3.html %}
        {% include diaspora_section4.html %}
        {% include diaspora_section5.html %}
        {% include diaspora_section6.html %}
        {% include diaspora_section7.html %}
        {% include diaspora_section8.html %}
        {% include diaspora_section9.html %}
        {% include diaspora_section10.html %}
        {% include diaspora_section11.html %}
        {% include diaspora_section12.html %}
        {% include diaspora_section13.html %}
        {% include diaspora_section14.html %}
        {% include diaspora_section15.html %}
        {% include diaspora_section16.html %}
        
      
        


          </div>
     </div>

     <div class="footer_dia">

    <div class= "footer_contents_dia" >



        <div class="footer-center">

        <p class="footer-links">

          <a class="page-scroll" href="#page-top">mannymarx.com</a>

          ∆
           
          <a class="page-scroll" href="/posts.html">Blog</a>

          ∆
          <a class="page-scroll" href="https://www.youtube.com/watch?v=RrjY2BKm-TA" target="blank"> ♃ </a>
        </p>

        </div>

   </div>

</div>


     <!--
          <br>
         <br>
          
          <p class = "test"><b>Immortality-</b> Humans can "live forever" either in Strata, a virtual reality, or by re-sleeving (heavily based off of the Richard Morgan books):</p><br>
          <p><i>"In the novel's somewhat dystopian world, human personalities can be stored digitally and downloaded into new bodies, called sleeves. Most people have cortical stacks in their spinal columns that store their memories. If their body dies, their stack can be stored indefinitely. Catholics have arranged that they will not be resleeved as they believe that the soul goes to Heaven when they die, and so would not pass on to the new sleeve. This makes Catholics targets for murder, since killers know their victim will not be resleeved to testify. A UN resolution to alter this legal position forms one strand of the novel's plot, to allow the authorities to sleeve a deceased Catholic woman temporarily to testify in a murder trial.
          While most people can afford to get resleeved at the end of their lives, they are unable to update their bodies and most go through the full ageing process each time which discourages most from resleeving more than once or twice. So while normal people can live indefinitely in theory, most choose not to. Only the wealthy are able to acquire replacement bodies on a continual basis. The long-lived are called Meths, a reference to the Biblical figure Methuselah. The very rich are also able to keep copies of their minds in remote storage, which they update regularly. This ensures that even if their stack is destroyed, they can be resleeved.</i></p><p><a href="https://enwikipedia.org/wiki/Altered_Carbon"></a>&mdash;Altered Carbon Wikipedia page</p>
          </p>
          <p class = "test"><b>Struggle- </b>Life is rough in the future. They still have to pay the bills and deal with the basic shit we go through today but with the possibility of a virtual reality afterlife at the end. Just like someone who lived in the Middle Ages might think living in 2015 is heaven on earth with iPhones, cheap food, and human rights, however, to us it's just another day and still far from perfect.</p>
          <p class = "test"><b>Apes in Space- </b>Humans didn't evolve to live in space nor “live forever”. What kind of conundrums would arise from such a situation? What kind of existential crisis would happen when you look in the mirror and see a totally new face from the one you were born with? What about orbiting a star that is 100x bigger than the sun? How would you feel if you have never even been to a planet called “earth” where humans evolved?</p>

     </div>
 
 
         
        </div>
       
   
  </div>


