 <section id="sec11" style="width: 1005px; height: 50px;">
          <div class="row">
               <div class="col-lg-8 col-lg-offset-2" style="padding-top:50px; padding-bottom: 50px; text-align:justified">

               <h2 class = "diaspora_report"><b>Apparatus Hominus</b></h2>

               <p class = "diaspora_report">
                    Currently inputing a mind into a machine for an extended amount of time is a highly controversial topic.
                    Experiencing a physical form that has no need for the basic functions biological lifeforms require has an array of effects on a person. Based on this stream that's probably not too controversial in the future. Further, it's apparent that long term exposure can led to some odd psychological patterns.

               <p class ="apparatus"><em>Body no longer a body<br>
               Not even synthetic flesh<br>
               Hydraulic pumps and gears<br>
               turning until <br>
               nothing is left<br>
               Vices for hands<br>
               Emissions for breath<br>
               Is this immortality<br>
               or <br>
               Is this death?</em></p>
         
           
               </div>
          </div>
          <div><p><p align="center" class="redtext"><a href="Diaspora#sec10"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora#sec12"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>