<section id="sec5" style="width: 1005px; height: 50px;">
               <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">
            <h2 class="heading-dia">The Strata</h2> 

               <p class = "effect1"> Now that the mind can be digitized the death of the body doesn't necessarily mean an end to an individual. At any time one can choose to have themselves uploaded onto a massive network of servers called "The Strata". As of 2280 "The Strata" is fairly a new concept still in its infancy. Many choose to spend their lives in and outside of The Strata and only see it as a form of entertainment and another lease at life. Yet, based on the information gathered from the artifact it seems that in the far future The Strata is more seen as more as an afterlife. Namely a place for those to go when they cannot afford a new body when their current one becomes broken.
                    </p>
                    <img src="../img/The Strata.jpg" class="arrow-dia">
                </div>
               </div>
          <div><p><p align="center" class="redtext"><a href="Diaspora_Album#sec4"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora_Album#sec6"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
        </section>