<section id="sec13" style="width: 1005px; height: 50px;">
          <div class="row">
               <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">

               <h2 class = "diaspora_report"><b>Gaea</b></h2>

          <p class = "diaspora_report">It seems that in this era that the mainstream culture —at least in this particular star system is for humans to highly augment their physical form. Based on the information of the audio file it seems that the current star system wasn't as profitable as projected for a myriad of reasons. Nevertheless, settlers either decided to down or were stranded due to a bad investment who now have to etch out a living. It seems as if this "Gaea" is the child of such circumstance or it just might be she prefers her natural human form:</p>
          <p><i>Brown eyes.
          </i></p>
          <p><i>An un-augmented beauty, such a rarity since the singularity.</i></p>
          <p><i>Most younger than a couple of centuries are ignorant to what “natural characteristics“ even are.
          Blues, pinks, reds, varying levels of opacity, hell even ultraviolet 3 and Infrared 7, colors outside of the naturally</p> 
          <p>viewed color spectrum. Crowds’ colors akin to an oil spill, gone are blushes and tones of humanity.</i></p>
          <p>But not her. Once called a “brunette” with skin the tone of the Earth’s soil…</i>
        <i>born perfect by the lucky roll of the genetic dice…</i></p>
          <p><i>Yet on a distant moon orbiting a hot jupiter in some shitty-unprofitable star system towards the center of the milky way.</i></p>
          <p><i> sip my generic alcohol rehydrate and watch her work behind the bar.</i></p>
          <p><i>As she toils away for one tenth of a credit after another.</i></p>
          <p ><i>The reddish light catches droplets of sweat running down her neck to her chest.</i>
          <i>Working hard serving patrons who resemble machines more than they do men.</i></p>
          <p><i>Her mundane characteristics leave her all but unnoticed except for an old-timer like me.
          <p></i>She says her parents named her, Gaea.</i>
          <p><i>The irony.</i></p>
          
          <p><i>Truly, she is a goddess…</i></p>
          
          <p class = "test2"><i>A goddess… but a goddess lost in the stars.</i></p>
           
               </div>
          </div>
          <div class="hideme"><p><p align="center"><a href="Diaspora_Album#sec12"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora_Album#sec14"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>
         
          <section id="sec14" style="width: 1005px; height: 50px;">
               <div class="row">
                    <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">
                           <h2 class = "diaspora_report"><b>Therifts</b></h2>
                                   <p class = "test1">[処理中...]</p>
          <br>
               
                    </div>
               </div>
                <div class="hideme"><p><p align="center"><a href="Diaspora_Album#sec13"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora_Album#sec15"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>