<section id="sec11" style="width: 1005px; height: 50px;">
          <div class="row">
               <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">

               <h2 class = "diaspora_report"><b>Traprain</b></h2>

               <p class = "test1">[処理中...]</p>
               <br>
           
               </div>
          </div>
          <div class="hideme"><p><p align="center"><a href="Diaspora_Album#sec10"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora_Album#sec12"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>