<section id="sec7" style="width: 1005px; height: 50px;">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">
            <h2 class = "diaspora_report"><b>Arp 87</b></h2>

          <p class = "diaspora_report">Landing of the Galilei-1 on Europa.<br>
               The year is 2280 and the Europa Team 1 has successfully landed on Europa, one of Jupiter's moons, after a 6 month Journey. The Europa Team Captain and Science Officer are on the surface running samples when they happen upon the artifact:</p>

          <p class ="arp87"><u>Europa Team Captain</u><br><br>
          <em>"I still can't believe we made it." </em><br><br>
          <u>Europa Team Science Officer</u><br><br>
          <em>"...I knew what to expect but...it's beautiful" </em><br><br>
          <u>ETC</u><br><br>
          <em>"I know, it's amazing... how much farther?"</em></br><br>
          <u>ETSO</u><br><br>
          <em>"It should be just a few more meters around the bend of that rock face."</em><br><br>

           <u>ETSO</u><br><br>
          <em>"...what the fuck...?!"</em><br><br>
 
          <u>ETC</u><br><br>
          <em>"E-Excuse me-?! Oh my... I can't believe what I'm seeing."</em><br><br>
          <u>ETSO</u><br><br>
          <em>"This changes everything."</em></p>
               </div>
          </div>
          <div class="hideme"><p><p align="center"><a href="Diaspora_Album#sec6"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora_Album#sec8"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
        </section>