 <section id="sec12" style="width: 1005px; height: 50px;">
          <div class="row">
               <div class="col-lg-8 col-lg-offset-2" style="padding-top:50px; padding-bottom: 50px; text-align:justified">

               <h2 class = "diaspora_report"><b>Apparatus Hominus</b></h2>

               <p class = "diaspora_report">
                    Since humans have the capability to resleeve into other bodies uploading into a machines is also possible although not completely legal. By doing so mining opperations dealing with heavy duty becomes more efficient. However, long exposure to such kind of opperations can lead odd psycological alterations.

               <p class ="apparatus"><em>Body no longer a body<br>
               Not even synthetic flesh<br>
               Hydraulic pumps and gears<br>
               turning until <br>
               nothing is left<br>
               Vices for hands<br>
               Emissions for breath<br>
               Is this immortality<br>
               or <br>
               Is this death?</em></p>
         
           
               </div>
          </div>
          <div class="hideme"><p><p align="center"><a href="Diaspora_Album#sec11"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora_Album#sec13"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>