 <section id="sec16" style="width: 1005px; height: 50px;">
          <div class="row">
               <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">

               <div class="hideme"> <acronym title ="back to the begining"><a href="Diaspora_Album"><img class="tesseract" src="../img/tesseract.gif"></div></a></acronym>
           
               </div>
          </div>
          <div class="hideme"><p><a href="Diaspora_Album#sec15"><img class ="arrow-dia" src="../img/arrow_left.png"></a></p></div>
          </section>