<section id="sec3" style="width: 1005px; height: 50px;">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">
            <h2 class="heading-dia">Organic Singularity </h2>

               <p class = "effect1">
                    The Organic Singularity officially began in 2211, the year of last recorded deaths from The Great Phage. Humankind was brought to the precipise of extinction leaving most of the planet devoid of people. This pressured the vast majority of individuals to migrate to specially designated areas on each continent, eventually becoming mega cities. </p>
               <p class = "effect2">
                    Society quickly realized that in order to maintain the quality of life in which law, order, and technology brings, they had to cooperate with one another at all costs. In just one generation concepts of nations, culture, race, class, religion and other dividing factors were nothing more than terminologies to describe the past. The unification of humanity instantly birthed an almost religious fervor towards the exploration of the cosmos.</p>
               <p class = "effect3">
                    By this time virtually all menial and complex tasks alike could be automated and managed by a few presses of buttons and swipes on a screen. The concept of work changed from being a labor into a duty which is simply done to maintain a level of comfort. With the elimination of scarcity, capital and wealth no longer existed as they once did. Fame, power, and influence were rewards given to those who made great discoveries and broadened the understanding of the universe. </p>
            </div>
          </div>
          <div><p><p align="center" class="redtext"><a href="Diaspora_Album#sec2" class="scroll"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora_Album#sec4"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
        </section>