<section id="sec9" style="width: 1005px; height: 50px;">
          <div class="row">
               <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">

          <h2 class = "diaspora_report"><b>Twilight</b></h2>

               <p class = "diaspora_report">
                    It appears that govt / corporation hybrids are best [see: easiest] way for humanity to colonize moons, planets, and asteroids for resources. Employment functions rather similarly to indentured servitude. Computer analysis shows that planetary corporations monopolized the production of new bodies. These new bodies, also refereed to as sleeves, typically takes a life time to payoff. So, many fall into debt with these corporations and run the risk of having their sleeve repossessed. Although, when that happens the individual is uploaded to Strata. </p>
               <p class = "twilight">
                    Sold to the height bidder one to own them all.<br>

                    No need for the illusion of capital. <br>

                    They are the currency.<br>

                    The value of their life is what rises and falls.<br>

                    Their bodies no longer their own just another asset just to lose or gain.<br>

                    Even though their minds are eternal they stay bound to the mundane.<br>

                    Bound to instincts natural selection keeps them in their cells.<br>

                    Given the gift of an unnatural heaven they choose time and time again a natural hell.<br>

                    Down on their knees they praise those who oppress<br>

                    and in their diligent subservience they kiss the hand <br>

                    which molests
                    </p>
           
               </div>
          </div>
          <div><p><p align="center" class="redtext"><a href="Diaspora_Album#sec8"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora_Album#sec10"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>