   <section id="sec6" style="width: 1005px; height: 50px;">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">
           <h2 class="heading-dia"><b>The Artifact</b></h2>

               <p class = "test2">
                    Found on Jupiter's moon Europa in its Conamara Chaos region, the artifact is believed to be a tesseract of audio files (possibly hundreds or even a thousands years in the future) describing various aspects of human life throughout the Milky Way Galaxy. It seems that despite the state of humanity in 2280 it eventually will return to its "old ways" of exploitation, greed, and varying levels of strife.</p>
                    <img src="../img/hypercube2.gif" class="tesseract2">
           </div>
          </div>
          <div class="hideme"><p><p align="center"><a href="Diaspora_Album#sec5"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora_Album#sec7"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
        </section>