<section id="sec2" style="width: 1005px; height: 50px;">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">
            <h2 class ="heading-dia">The Great Phage</h2>

               <p class = "effect1">
                    During the later half of the 2100's deep sea oil mining became the main source of energy acquisition. Unfortunately, within this ancient biomass a super-virus laid dormant for 100's of millions of years. The Necro-Pelagicia, Phage more commonly refereed to as "The Great Phage", brought humankind to its knees. With a 90% fatality rate it wiped out over 50% of the human population, roughly 5 billion people, in the span of 7 years. To make matters worse many of the survivors were left infertile due to a side effect of the vaccination on their nervous system.</p>
               <img class ="arrow-dia" src="../img/Necro-Pelagicia Phage.jpg">
            </div>
          </div>
               <div><p align="center" class ="redtext"><a href="Diaspora#sec1" class="scroll"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora#sec3"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
        </section>
