<section id="sec14" style="width: 1005px; height: 50px;">
               <div class="row">
                    <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">
                           <h2 class = "diaspora_report"><b>Therifts</b></h2>
                                   <p "diaspora_report">[]</p>
          <br>
               
                    </div>
               </div>
                <div><p align="center" class="redtext"><a href="Diaspora#sec13"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora#sec15"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>