

<footer class="footer-distributed" id="footer">
 
      <div class="footer-right" >

         <a href="https://soundcloud.com/mannymarx"><i class="fa fa-soundcloud"></i></a>

        <a href="https://twitter.com/hirotsu"><i class="fa fa-twitter"></i></a>

        <a href="https://www.facebook.com/mannymarxmusic/"><i class="fa fa-facebook"></i></a>
        <!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
        <a href="https://github.com/palixeb"><i class="fa fa-github-alt"></i></a>
        <!--<a href="#"><i class="fa fa-youtube-play"></i></a>-->
        <br>
       <br>
        <a class="bc-button text-align:center" href="https://mannymarx.bandcamp.com/"><img src="https://s1.bcbits.com/img/buttons/bandcamp_36x36_white.png"></a>

      </div>

      <div class="footer-left">

        <p class="footer-links">
          <a class="page-scroll" href="#page-top">Home</a>
          ·
          <a class="page-scroll" href="#about">About</a>
          ·
          <a class="page-scroll" href="#services">Services</a>
          ·
          <a class="page-scroll" href="#process">Process</a>
          · 
          <a class="page-scroll" href="#listen">Listen</a>
          · 
          <a class="page-scroll" href="#contact">Contact</a>
          · 
          <a class="page-scroll" href="/posts.html">Blog</a>
        </p>

        <p>Manny Marx &copy; 2015</p><p>Photography by Jeff Chamberlain | Kanako Suto</p><!--<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      </div>-->
</div>

</footer>


