<div class="footer_dia">

    <div class= "footer_contents_dia" >



        <div class="footer-center">

        <p class="footer-links">

          <a class="page-scroll" href="#page-top">Home</a>
          ·
          <a class="page-scroll" href="#about">About</a>
          ·
          <a class="page-scroll" href="#services">Services</a>
          ·
          <a class="page-scroll" href="#process">Process</a>
          · 
          <a class="page-scroll" href="#listen">Listen</a>
          · 
          <a class="page-scroll" href="#contact">Contact</a>
          · 
          <a class="page-scroll" href="/posts.html">Blog</a>

        </dia>

   </div>

</div>