<section id="sec13" style="width: 1005px; height: 50px;">
          <div class="row">
               <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">

               <h2 class = "diaspora_report"><b>Gaea</b></h2>
               <div><iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2645391773/size=small/bgcol=333333/linkcol=ffffff/track=1335905173/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/diaspora">Diaspora by manny marx</a></iframe></div>

          <p class = "diaspora_report">It seems that in this era the mainstream culture—at least in this particular star system—is for humans to highly augment their physical form. Based on this stream the current star system wasn't as profitable as projected for a myriad of reasons. Nevertheless, settlers who either decided to settledown or were stranded due to a bad investment, now have to etch out a living. It appears this "Gaea" is the child of such circumstance or it just might be she prefers her natural form:</p>
          <p class ="gaea"><i>Brown eyes.<br>
          </i><br>
          <i>An un-augmented beauty, such a rarity since the singularity.</i><br>
          <i>Most younger than a couple of centuries are ignorant to what “natural characteristics“ even are.
          Blues, pinks, reds, varying levels of opacity, hell even ultraviolet 3 and Infrared 7, colors outside of the naturally<br>
          viewed color spectrum. Crowds’ colors akin to an oil spill, gone are blushes and tones of humanity.</i><br>
          But not her. Once called a “brunette” with skin the tone of the Earth’s soil…</i>
        <i>born perfect by the lucky roll of the genetic dice…</i><br>
         <i>Yet on a distant moon orbiting a hot jupiter in some shitty-unprofitable star system towards the center of the milky way.</i><br>
         <i>I sip my generic alcohol rehydrate and watch her work behind the bar.</i><br>
          <i>As she toils away for one tenth of a credit after another.</i><br>
          <i>The reddish light catches droplets of sweat running down her neck to her chest.<br>
          <i>Working hard serving patrons who resemble machines more than they do men.</i><br>
          <i>Her mundane characteristics leave her all but unnoticed except for an old-timer like me.<br>
         </i>She says her parents named her, Gaea.</i><br>
          <i>The irony.</i><br>
          
         <i>Truly, she is a goddess…</i><br>
          
          <i>A goddess… but a goddess lost in the stars.</i></p><br>
           
               </div>
          </div>
          <div><p><p align="center" class="redtext"><a href="Diaspora#sec12"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora#sec14"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>
         
          