<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Manny Marx">
    <meta name="description" content="Freelance music producer and sound designer for video games, YouTube videos, podcasts, social media platforms and apps.">
    <meta name="google-site-verification" content="841T8df84Ra-9iz13CCt4mbK61jtgzayiJ2825dmT7E" />

    <!-- Facebook Open Graph META tags -->
    <meta property="fb:admins" content="100008468671822" />
    <meta property="og:image" content="http://www.mannymarx.com/img/thumbnail.png" />
    <meta property="og:title" content="Manny Marx | Music Production & Sound Design"/>
    <meta property="og:site_name" content="mannymarx.com"/>
    <meta property="og:description" content="Freelance music producer and sound designer for video games, YouTube videos, podcasts, social media platforms and apps."/>
    
    

    <!--formatted-->
    <title>Manny Marx | Music Production & Sound Design</title>

    
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/footer-distributed.css">
    <link rel="image_src" href="http://www.mannymarx.com//thumbnail.png" / >
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <base href="{{ site.baseurl}}/{% if page.permalink %}{{ page.permalink }}{% endif %}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">



     <!-- tab image -->
   <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
