
        <section id="sec1" style="width: 1005px; height: 50px;">
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; ppadding-bottom: 50px; text-align:justified">
           <p><img src="../img/dia_grafiwhite.png" class="arrow-dia"></p>
          <p class="heading-dia">prolog</p>
          <hr style ="max-width: 70%; border-color: #fff; border-width: 1px;">
          <div><iframe style="border: 0; width: 300px; height: 522px;" src="https://bandcamp.com/EmbeddedPlayer/album=2645391773/size=large/bgcol=ffffff/linkcol=0687f5/track=3725236077/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/diaspora">Diaspora by manny marx</a></iframe></div>
               <p class = "effect1">
                    The year is 2280, roughly 70 years after the Necro-Pelagicia Phage wreaked havoc on humanity, also known as the era of "The Great Phage". The Great Phage bottlenecked the human population to around 3 billion people. Amongst the sadness those who remained alive were left with an of abundance of resources and space. Further, since the deluge of death left not one person unaffected, humanity's empathy and appreciation of life reached a level unseen in recorded history. This heightened empathy and understanding was later referred to as the "Organic Singularity". </p><br>
     
               <p class = "effect2">
                    Within the 30 years after the "Organic Singularity", breakthroughs in science led to the mapping of the human brain. It was this discovery which gave way to the digitization of human consciousness. This accomplishment was officially heralded as "The Singularity”. Needless to say, such a breakthrough raised a great number of ethical issues. However, thanks to the paradigm shift caused by the Organic Singularity, humanity dealt and continues to deal with these complex issues responsibly. Some of the more complex issues are typically dealt with by a committee aided by the A.I., Nyame. <br></p>
          
               <p class = "effect3">
                    Despite the many recreational advances digitized consciousness provides, it has been primarily used for what has driven humanity ever since it climbed down from the trees and set foot on the African Savanna, exploration. Humans now explore the depths of the ocean, the deepest caverns, and of course the final frontier, space. On March 30th, 2280 during an expedition to Jupiter's moon Europa, an ancient yet advanced "alien artifact" was discovered. However, to humanity's surprise, it wasn't "ancient" or "alien" at all but actually from the distant future and a rather bleak one at that.</p>

           <div><p class="diaspora_report">[Scroll Horizontally or Navigate by clicking the <span class = "redtext">Arrows</span>]</p></div><br>
           <div ><a class="page-scroll" href ="Diaspora#sec2"><img class ="arrow-dia" src="../img/arrow_right.png"></a></div>
        </section>