 <section  id="about" class="bg-primary" >
    <div class="introduction-background">
        <div class="introduction">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center" style="padding:50px">
                    <h2 style="color:#6799DE">Hi. Nice to meet you!</h2>
                    <hr>
                    <div>        
                    <p style="color: white" class="line-spacing">I'm Manny Marx and I like to make stuff. For example this website also the desk I'm sitting at while I'm making this website. However what I really like to do is make music, especially with people. Whether it be musical collaboration or crafting music and sounds for a person's vision, I love it. In fact, I'd say I'm pretty good at it, too. But hey, don't take my word for it, check out what people who I have worked with have to say. </p>
                    </div>
                    <a href="http://palixeb.github.io/references.html" class="btn btn-primary btn-xl page-scroll">Check it out</a>
                </div>
            </div>
        </div>
    </div>
    </section>
    