  

  <section id="process" class="bg-primary" >
         <div class="process-background">
            <div class="process">
           
                <div class="row">
                     <div class="col-lg-8 col-lg-offset-2"style="padding:50px">
                        <h2 style="color: #6799DE; text-align:center">How the process all goes down</h2><hr>
                        <div>
                        <p style="color:white; text-align:justified" clas="line-spacing"> First, <a href= "#contact"><strong>contact me at the bottom of the page</strong></a> and I'll get back to you promptly. From there we set-up our first meeting via Skype, G-chat, phone, face-to-face, or just stick to email - whatever you prefer. If possible, be ready to provide a few reference materials (audio, visual, etc.) to help with my research and creation process. Soon after, I'll provide you with a demo (free of charge) and we can take it from there. If you have any questions please contact me.

                        </p>
             </div>
           </div>
        </div>
    </section>

   