 <section  id="about" class ="bg-primary" >
    <div class="introduction-background">
        <div class="introduction">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" style="padding:50px; text-align:justified">
                    <h2 style="color:#6799DE; text-align: center;">Welcome</h2>
                    <hr>
                    <div>        
                    <p style="color: white; "  class="line-spacing">I'm Manny Marx and I am a creator; be it this website or the desk I'm sitting at, I have a need to create. However, what I really like creating is music, especially with people. Whether it be a musical collaboration or crafting music and sounds from someone else's vision, I love it. In fact, I'd say I'm pretty good at it, too. But hey, don't take my word for it, check out what people who I have worked with have to say.</p>
                    </div>
                    <div style="text-align:center">
                    <a href="http://palixeb.github.io/references.html" class="btn btn-primary btn-xl page-scroll">don't take my word for it</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
    