
<section class="no-padding" id="portfolio">
     <div class="col-lg-6">

     <div class="col-lg-4 col-sm-6">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=733941856/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/vagabond">VAGABOND by Manny Marx</a></iframe>
                    </div>
                </div>
            </div> 
        </div>
        </div>
        <div class="col-lg-4 col-sm-6">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=733941856/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/vagabond">VAGABOND by Manny Marx</a></iframe>
                    </div>
                </div>
            </div> 
        </div>
        </div>
        <div class="col-lg-4 col-sm-6">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <iframe width="350px" height="470px" src="https://www.youtube.com/embed/4LaomnAAM98" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=733941856/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/vagabond">VAGABOND by Manny Marx</a></iframe>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
</section>