    <section id="listen" class="">


        <!-- Page Heading -->
        <div class="row" style="text-align:center">
            
            <div class="col-lg-12">
               <h2 style="color:#6799DE" > Here are some projects I have been a part of</h2>
                 <hr>
            </div>
       
        <br>

        <!-- Projects Row -->
        <div class="row" style="text-align:center">
            
            <div class="container col-md-4 portfolio-item">
                 <iframe style="border: 0; width: 300px; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album=2645391773/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/diaspora">Diaspora by manny marx</a></iframe>
            </div>
            <div class="container col-md-4 portfolio-item">
                
                <iframe width="300" height="315" src="https://www.youtube.com/embed/pAK231GSfgA" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container col-md-4 portfolio-item">
                <iframe width="300" height="315" src= "https://youtube.com/embed/rNOZo7E9xLY" frameborder="0" allowfullscreen></iframe>
            </div>
    
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="text-align:center">
            
            <div class="container col-md-4 portfolio-item">
                <iframe width="300" height="315" src="https://www.youtube.com/embed/QX2CFCY4SB0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="container col-md-4 portfolio-item">
               <iframe width="300" height="315" src="https://www.youtube.com/embed/y3wKCMTp6_E" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container col-md-4 portfolio-item">
              
               <iframe style="border: 0; width: 300px; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album=3075298918/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="http://correspondentsny.bandcamp.com/album/arms-length">Arm&#39;s Length by Correspondents</a></iframe>
            </div>

        </div>
     
                <div style="text-align:center">
                    <a href="/portfolio.html" class="btn btn-primary btn-xl page-scroll">click here to see more</a></div>
</section>
