    <section id="process" class="process-background">
        	<div class="process">
            	<div class="row">
            		 <div class="col-lg-8 col-lg-offset-2 text-center">
                 		<h2 style="color: #6799DE">How the process all goes down</h2><hr>
                		<p style="color:white"> Well, first contact me <a href= "#contact"><strong>at the bottom of the page</strong></a> and I'll get back to you as soon as I can. From there we can set up our first meeting via Skype, G-chat, phone, face-to-face, or just stick to email, whichever you'd perfer. If possible, please provide a few reference materials (audio, visual, etc.) to help with my research and creation process. Soon after I'll provide you with a demo (free of charge) and we can take it from there.</p>
                		<!--
                        
                        Add process page next month

                        <h3>To read more about the creation process click the button below.</h3><br>

                        <a href="#" class="btn btn-primary btn-xl page-scroll">Read More</a>-->

                	</div>	
        		</div>
       		</div>
    </section>