<section  id="services" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #6799DE">What I make sounds for</h2>
                    <sup>*but not limited to</sup>
                 <hr>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <a href="#contact"><i class="fa fa-4x fa-music wow bounceIn glyphcolor"></i></a>
                        <h3>Music Production</h3>
                       <p> a soft lullaby, an action-packed chase scene, or a  forest in a lost kingdom shrouded in a darkness,</p> <h3><strong>I'll write it.</strong></h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <a href="#contact"><i class="fa fa-4x fa-volume-up wow bounceIn glyphcolor" data-wow-delay=".1s"></i></a>

                        <h3>Sound Design</h3>
                        <p> clicks, presses, swipes, footsteps, busy streets, or an intergalactic being from the depths of the crab nebula,</p> <h3><strong>I'll make it.</strong></h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <a href="#contact"><i class="fa fa-4x fa-headphones wow bounceIn glyphcolor" data-wow-delay=".2s"></i></a>
                        <h3>Collaboration</h3>
                        <p> songwriting, beat making, remixing, and sampling. Also playing the role as voice actor or as a session musician, </p><h3><strong>I got you.</strong></h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <a href="#contact"><i class="fa fa-4x fa-gamepad wow bounceIn glyphcolor" data-wow-delay=".3s"></i></a>
                        <h3>Entertainment Media</h3>
                        <p>with copious amounts of time participating in all forms of media from social networking websites to podcasts to video games (my favorite of the bunch). If there is a sound to be made for them,</p> <strong><h3>I'll craft it</strong></h3>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>