 <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Nice to meet you!</h2>
                    <hr>
                    <h3>I'm Manny Marx. I like to make music. What I really like to do is make music with people. Whether it be collaborating musically or crafting the sounds which are in someones head, I really enjoy it. In fact, I'd say I'm pretty good at it. But hey, don't take my word for it, too. Check out what people have to say about it and what we created.</h3>
                    <a href="#carousel" class="btn btn-primary btn-xl page-scroll">Check it out</a>
                </div>
            </div>
        </div>
    </section>

    