    <section id="process" class="bg-primary">
        	<div class="container">
            	<div class="row">
            		 <div class="col-lg-8 col-lg-offset-2 text-center">
                 		<h3>How the process all goes down</h3>
                		<p>For our first meeting via a method of your choice (e.g. E-mail, Skype, G-Chat, face to face, etc.) we will discuss your project and the sounds you are looking for. If possible you will provide me with examples to aid me in creating the sounds you need. Soon after I will provide you with a demo of my work </br><strong>FOR FREEEE</strong>. </p>
                		<a href="#" class="btn btn-primary btn-xl page-scroll">Read More</a>

                	</div>	
        		</div>
       		</div>
    </section>