<div id="myCarousel" class="carousel slide" data-pause="true">
    <div style="text-align:center;">
        <h2 style="color:#6799DE" > Here are some of the projects I have worked on.</h2>
        <hr>
        <div class="carousel-inner" role="listbox">
        
          <div class="item active">
           <iframe width="350" height="315" src="https://www.youtube.com/embed/Yk8RSm-nuUs" frameborder="0" allowfullscreen></iframe>
          </div>

          <div class="item">
             <iframe width="350" height="315" src="https://www.youtube.com/embed/ZHNUOoCNvvM" frameborder="0" allowfullscreen></iframe>
            </div>



          <div class="item">
            <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=733941856/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/"></iframe>
          </div>


          <div class="item">
            <a href="http://www.gov-online.go.jp/eng/publicity/book/hlj/videos/djs/20151101.html" target="blank"><img style="border: 0; width: 30%; height: 30%;"target="blank" src="img/DelecJapanImokinai.png" frameborder="0"></a>
          </div>

          <div class="item">
            
            <a href="http://www.gov-online.go.jp/eng/publicity/book/hlj/videos/djs/20150901.html" target="blank"><img style="border: 0; width: 30%; height: 30%;"target="blank" src="img/DelecJapanKyoto.png" frameborder="0"></a>
          </div>


          <div class="item">
            <iframe width="350" height="315"  src="https://www.youtube.com/embed/wvbUE8QZFh4" frameborder="0" allowfullscreen></iframe>
            </div>


            <div class="item">
            <iframe style="border: 0 width: 350px; height: 470px;" src="http://bandcamp.com/EmbeddedPlayer/album=735620171/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=1859963512/transparent=true/"></iframe>
            </div>


         <div class="item">
           <iframe width="350" height="315" src="https://www.youtube.com/embed/38mZSV6m12g" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>
      

     
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

    </div>
  </div>

