 <section id="sec6" style="width: 1005px; height: 50px;">
          <div class="row">
               <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px;text-align:justified">

               <h2 class = "diaspora_report"><b>SNR24</b></h2>

          <p class = "diaspora_report">The first piece of audio from the artifact is of a space-debris management (SDM) officer. Unfortunately, wherever man goes his waste will follow. Rouge waste in space pose a significant threat to some colonies. SDM varies in quality from star system to star system, some are manned opperations and others are fully automated:</p>
          
          <p class ="snr24"><i>Approaching dock</i><br> <i>snr24</i><br> <i>Another day, another credit.</i><br>
          <i>Never got used to the smell of space... burnt-blood. Metallic.</i><br>
          <i>Lazy rotation around XO5b. Nothing quite like gas giants.</i><br>
          <i>Spherical kaleidoscopes among an infinite landscape. Black. Acrylic.</i><br>
          <i>Were we meant for all this? Metal, right-angles, artificial lights... a sun, a spec in a night sky. Less natural, more numeric.</i><br>
          <i>Credits. Stacking up for that new sleeve.</i><br>
          <i>Immortality, what a blessing for some but to most horrific.</i></p> 
          <br>
           
               </div>
          </div>
          <div><p><p align="center" class="redtext"><a href="Diaspora#sec5"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora#sec7"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>
          