<section >
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; ppadding-bottom: 50px; text-align:justified">
          <h1 class= "heading-dia">Diaspora</h1>
          <hr style ="max-width: 70%; border-color: #fff; border-width: 1px;">
          
          
			<div class ="wrap">
				<div class ="cube">
					<div class ="front"></div>
					<div class ="back"></div>
					<div class ="top"></div>
					<div class ="bottom"></div>
					<div class ="left"></div>
					<div class ="right"></div>
					<div class = "center1"></div>
					<div class = "center2"></div>
					<div class ="test1"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
 </div>
             
</section>