<!-- spinning cube with js countdown -->

<section >
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:center">
          <p><img src="../img/Dia_grafi.png" class="arrow-dia"></p>
          <hr style ="max-width: 70%; border-color: grey; border-width: 1px;">
          
          <audio id ="music">
          	<source src="../sound/twilightforweb.mp3">
          	<source src="../sound/twilightforweb.ogg">
          </audio>
			<div class ="wrap" >
				<div class ="cube" onmouseover="document.getElementById('music').play()" onmouseout="document.getElementById('music').pause()">
					<div class ="front"></div>
					<div class ="back"></div>
					<div class ="top"></div>
					<div class ="bottom"></div>
					<div class ="left"></div>
					<div class ="right"></div>
					<div class ="center1"></div>
					<div class ="center2"></div>
					<div class ="test1"></div>
					</div>
				</div>	
			</div>
			<div class="row">
    <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:center">

			<div id="timer">round and round we go</div>
		</div>
	</div>
		</div>
	</div>
 </div>
             
</section>