   <section id="sec5" style="width: 1005px; height: 50px;">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">
           <h2 class="heading-dia"><b>The Artifact</b></h2>

               <p class = "effect2">
                    Found on Jupiter's moon Europa in its Conamara Chaos region. Studies show the Artifact is a tesseract-mechanism which is possibly "locked" in 3D space while moving along in lockstep with our present. What we do know for sure is that it streams information from hundreds–possibly even billions–of years in the future. Currently, the information decoded by QCing (quantum computing) can only be observed in audio. Although some AI systems are reporting a likelihood of vetting visual information as well. These audio streams are mostly just passing thoughts. Still, as benign as these thoughts may be in their present time, even the most basic information from the future describing life throughout the Milky Way Galaxy is invaluable to us today.</p>
                    <p class ="effect3">Unfortunately, general consensus indicates that despite the rather utopian state of humanity in 2280, we eventually will return to our "old ways" of exploitation, greed, and varying levels of manufactured strife.</p>
                    <img src="../img/hypercube2.gif" class="tesseract2">
           </div>
          </div>
          <div><p><p align="center"  class="redtext"><a href="Diaspora#sec4"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora#sec6"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
        </section>