<section id="sec14" style="width: 1005px; height: 50px;">
               <div class="row">
                    <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">
                           <h2 class = "diaspora_report"><b>Therifts</b></h2>
                                   <p class ="diaspora_report">Similar language patterns to the Tπap√ain stream although slightly more decipherable: </p>

                                   <p class="therifts">
                                   	1010∆<a href="https://www.youtube.com/watch?v=mSzCS_5qtVY" target = "blank">STARFœRM</a>010/<a href="https://www.youtube.com/watch?v=Untoik6c_gs" target = "blank">alon∑</a>1<a href="https://youtu.be/vgLYG-s6jsg?t=2m6s" target = "blank">cold</a><a href="https://www.youtube.com/watch?v=UXRFQBad1Hs" target = "blank">∂loµe</a>001
                                   </p>

                                   <p class="diaspora_report"> Some speculate this is a stream from a time very close to "heat death of the universe".</p>
          <br>
               
                    </div>
               </div>
                <div><p align="center" class="redtext"><a href="Diaspora#sec13"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora#sec15"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>