<section id="sec7" style="width: 1005px; height: 50px;">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">
            <h2 class="heading-dia">The Singularity</h2>

               <p class = "effect2">
                    During The Great Phage the entire planet was in a mad dash for a cure or vaccine, which in turn lead to the unbanning of all unethical scientific research. For the first time in ages research and experimentation were liberated. Therefore, just in the matter of a few years a vaccine was not only synthesized but a number of breakthroughs in biology, neuroscience, computing, and many other fields occurred. One such breakthrough is what actually paved the way for The Singularity. In short, it was a theory to upload minds into a database, let The Great Phage run its course, and then download the minds in to healthy cloned bodies. This theory then later became a reality in 2242 and the marriage of man and machine unlocked a new chapter in humankind's journey through the cosmos. </p>
          </div>
     </div>
     <div><p><p align="center" class="redtext"><a href="Diaspora#sec6" class="scroll"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora#sec8"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
        </section>