<section id="sec8" style="width: 1005px; height: 50px;">
          <div class="row">
               <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">

          <h2 class = "diaspora_report"><b>Twilight</b></h2>
          <div><iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2645391773/size=small/bgcol=333333/linkcol=ffffff/track=2216737908/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/diaspora">Diaspora by manny marx</a></iframe></div>

               <p class = "diaspora_report">
                    It appears that government-corporation hybrids(g-corps)are the most efficient method to colonize moons, planets, and asteroids for mining resources. Employment functions rather similarly to indentured servitude. The most recent analysis suggests these g-corps also monopolize the production of new bodies. These new bodies, also refereed to as sleeves, typically take a lifetime to payoff. Thus, many fall into debt with these g-corps. Although, one always has the right to opt out and upload to Strata, many choose not to and rather live indebted. </p>
               <p class = "twilight">
                    <i>Sold to the highest bidder one to own them all.</i><br>

                    <i>No need for the illusion of capital.</i><br>

                    <i>They are the currency.</i><br>

                    <i>The value of their life is what rises and falls.</i><br>

                    <i>Their bodies no longer their own just another asset just to lose or gain.</i><br>

                    <i>Even though their minds are eternal they stay bound to the mundane.</i><br>

                    <i>Bound to instincts natural selection keeps them in their cells.</i><br>

                    <i>Given the gift of an unnatural heaven they choose time and time again a natural hell.</i><br>

                    <i>Down on their knees they praise those who oppress</i><br>

                    <i>and in their diligent subservience they kiss the hand</i> <br>

                    <i>which molests.</i>
                    </p>
           
               </div>
          </div>
          <div><p><p align="center" class="redtext"><a href="Diaspora#sec7"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora#sec9"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>