<section id="sec9" style="width: 1005px; height: 50px;">
          <div class="row">
               <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">

               <h2 class = "diaspora_report"><b>Vertigo</b></h2>
               <div><iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2645391773/size=small/bgcol=333333/linkcol=ffffff/track=3738222594/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/diaspora">Diaspora by manny marx</a></iframe></div>

               <p class = "diaspora_report">It's apparent that no matter where or when humans will never escape their primal urges.</p>


               <p class = "vertigo"><i>The busy sky littered with satellites. 
                    Too expensive to properly decommission.
                    They meander across the night sky. 
                    Like lackadaisical shooting stars.
                    </i><br>

                    <i>These city streets crowded with bodies.
                    Too numerous for any form of consideration.
                    They drone on from start to finish back to start again,
                    three dimensional clocks locked in an orbicular rotation.</i><br>

                    <i>At the precipice.</i><br>

                    <i>A misstep away from the event horizon. 
                    Living on the edge of three dimensional space.</i><br>

                    <i>The loss of mortality breeds recklessness. 
                    This inheritance breeds arrogance. </i><br>

                    <i>Decadence is a virtue when there’s nothing at stake.</i> <br>

                      
                    <i>On these gamble streets</i> <br>
                    <i>Where can an ancient get some kicks?
                    After centuries of experience. </i><br>
                    <i>Still itching for that fix.</i><br>

                    <i>The writhing bodies. Temperature rising.
                    Tonight it all boils down to this.
                    Forget contemplating the secrets of the cosmos.
                    We’re just prisoners to primordial licks.</i></p>
           
               </div>
          </div>
          <div><p><p align="center" class="redtext"><a href="Diaspora#sec8"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora#sec10"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>