<section id="sec15" style="width: 1005px; height: 50px;">
          <div class="row">
               <div class="col-lg-8 col-lg-offset-2" style="padding-top:0px; padding-bottom: 50px; text-align:justified">

                <h2 class = "diaspora_report"><b>Wanderers</b></h2>
                <div><iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2645391773/size=small/bgcol=333333/linkcol=ffffff/track=2659977788/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/diaspora">Diaspora by manny marx</a></iframe></div><br>
                <p class = "diaspora_report">This stream's unusual readings lead us to believe it's coming from the past, present, and future. </p><br>
                <p class ="effect1"> People all over the world are truly one.</p>
                                       
         
           
               </div>
          </div>
          <div >
               <p align="center" class="redtext"><a href="Diaspora#sec14"><img class ="arrow-dia" src="../img/arrow_left.png"></a>• • •<a href="Diaspora#sec16"><img class ="arrow-dia" src="../img/arrow_right.png"></a></p></div>
          </section>