---
layout: default
---
<section id="portfolio-page1">      
        <!-- Page Heading -->
        <div class="row" style="text-align:center">
            <div class="col-lg-12">
               <h2 style="color:#6799DE"> Some more projects I have been a part of</h2>
                 
            </div>
        </div>
        <br>
        <!-- /.row -->

        <!-- Projects Row -->

        <div class="row" style="text-align:center">

            <div class="container col-md-4 portfolio-item">
                <iframe width="300" height="315" src="https://www.youtube.com/embed/4LaomnAAM98" frameborder="0" allowfullscreen></iframe>
            </div>
     
            <div class="container col-md-4 portfolio-item">
                <iframe width="300" height="315" src="https://www.youtube.com/embed/ZtL69ArZCyI" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container col-md-4 portfolio-item">
                <iframe width="300" height="315" src="https://www.youtube.com/embed/2ew-x42Lmi0" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="text-align:center">

           <div class="col-md-4 portfolio-item">
            <iframe width="300" height="315" src="https://www.youtube.com/embed/3oVwSrl88yQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="container col-md-4 portfolio-item">
                <iframe width="300" height="315" src= "https://www.youtube.com/embed/OjG3VdFQMe0" frameborder="0" allowfullscreen></iframe>
            </div>
        
 

        

            <div class="col-md-4 portfolio-item">
              <iframe width="300" height="315" src="https://www.youtube.com/embed/ZHNUOoCNvvM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <!-- govt vids -->

         <br>
         

        <div class="row" style="text-align:center;">

            <div class="col-md-4 portfolio-item">
                <a href="http://www.gov-online.go.jp/eng/publicity/book/hlj/videos/djs/20150901.html" target="blank"><img style="border: 0; width: 300px; height: 300px; overflow: hidden;"target="blank" src="img/kyoto.png" frameborder="0"></a>
            </div>

            <div class="col-md-4 portfolio-item"> 
                <a href="http://www.gov-online.go.jp/eng/publicity/book/hlj/videos/djs/20151101.html" target="blank"><img style="border: 0; width: 300px; height: 290px;"target="blank" src="img/imonikai.png" frameborder="0"></a>
            </div>

        </div>

        <!-- podcasts -->

        <br>
         <hr>

         <div class="row" style="text-align:center;">
    
            <div class="col-md-4 portfolio-item">
               <a href="https://soundcloud.com/score-studios" target="blank"> <img style="padding: 20px; width: 300px; height: 300px;"target="blank" src="img/scorecast.jpg" frameborder="0" alt="Scorecast"></a>
            </div>

            <div class="container col-md-4 portfolio-item">
                <a href="http://deadlytroubadour.com/category/cli-podcast/" target="blank"><img style="padding: 20px; width: 300px; height: 300px;"target="blank" src="img/CLIpodcast.jpg" frameborder="0" alt="CLI podcast"></a>
            </div>
            
            <div class="container col-md-4 portfolio-item">
                <a href="https://livingjapanpodcast.wordpress.com/" target="blank"><img style="padding: 20px; width: 300px; height: 300px;"target="blank" src="img/livinginjapanpodcast.jpg" frameborder="0" alt="Living in Japan podcast"></a>
            </div>

        </div>
           <hr>  
           <br>   

        <div class="row" style="text-align:center;">

            <div class="col-md-4 portfolio-item">
                <iframe style="border: 0; width: 300px; height: 400px;" src="https://bandcamp.com/EmbeddedPlayer/album=1710317317/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/makla-tosh-2">MAKLA &#39;TOSH by The Uchujins (The 宇チューJins)</a></iframe>
            </div>
            

            <div class="col-md-4 portfolio-item">
                <iframe style="border: 0; width: 300px; height: 400px;" src="https://bandcamp.com/EmbeddedPlayer/album=733941856/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/vagabond">VAGABOND by Manny Marx</a></iframe>
            </div>


            <div class="col-md-4 portfolio-item">
                <iframe style="border: 0; width: 300px; height: 400px;" src="http://bandcamp.com/EmbeddedPlayer/album=735620171/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=1859963512/transparent=true/" seamless><a href="http://nevergonnastop.me/album/hello-my-name-is">Hello My Name Is by WEAPON OF CHOICE</a></iframe>
            </div>
        </div>


    


<br>
        <!-- Buttom -->
             <div style="text-align:center">
                    <a href="#contact" class="btn btn-primary btn-xl page-scroll">back to main page</a></div>
        </div>
</section>