---
layout: default
---
<section id="listen">      
        <!-- Page Heading -->
        <div class="row" style="text-align:center">
            <div class="col-lg-12">
               <h2 style="color:#6799DE" > Projects I have been apart of</h2>
                 
            </div>
        </div>
        <br>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="text-align:center">
            <div class="col-md-6 portfolio-item">
                <iframe width="350" height="315" src="https://www.youtube.com/embed/kWAqc9sPf9s" frameborder="0" allowfullscreen></iframe>
                </div>

            <div class="col-md-6 portfolio-item">
                <iframe width="350" height="315" src="https://www.youtube.com/embed/G1Y97lw0NGo" frameborder="0" allowfullscreen></iframe>
            </div>


            <div class="col-md-6 portfolio-item">
            <a href="http://www.gov-online.go.jp/eng/publicity/book/hlj/videos/djs/20151101.html" target="blank"><img style="border: 0; width: 400px; height: 290px;"target="blank" src="img/imonikai.png" frameborder="0"></a>
          </div>
    

            <div class="col-md-6 portfolio-item">
                <iframe width="350" height="315" src="https://www.youtube.com/embed/2ew-x42Lmi0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="text-align:center">
            <div class="col-md-6 portfolio-item">
                <a href="http://deadlytroubadour.com/category/cli-podcast/" target="blank"><img style="border: 0; width: 400px; height: 290px;"target="blank" src="img/CLIpodcast.jpg" frameborder="0" alt="CLI podcast"></a>
            
            </div>
            <div class="col-md-6 portfolio-item">
                 <a href="https://livingjapanpodcast.wordpress.com/" target="blank"><img style="border: 0; width: 400px; height: 290px;"target="blank" src="img/livinginjapanpodcast.jpg" frameborder="0" alt="Living in Japan podcast"></a>
            </div>


            <div class="col-md-6 portfolio-item">
                <iframe width="350" height="315" src="https://www.youtube.com/embed/Uun_6lEpeps" frameborder="0" allowfullscreen></iframe>
            </div>
            

        <div class="col-md-6 portfolio-item">
              <iframe width="350" height="315" src="https://www.youtube.com/embed/ZHNUOoCNvvM" frameborder="0" allowfullscreen></iframe>
            </div>
        

        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="text-align:center;">
            
            <div class="col-md-6 portfolio-item">
            <iframe width="350" height="315" src="https://www.youtube.com/embed/WZJ1168nDoY" frameborder="0" allowfullscreen></iframe>
            </div>

             <div class="col-md-6 portfolio-item">
               <a href="https://soundcloud.com/score-studios" target="blank"><img style="border: 0; width: 400px; height: 290px;"target="blank" src="img/scorecast.jpg" frameborder="0" alt="Scorecast"></a>
            </div>

            <div class="col-md-6 portfolio-item">
            <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1710317317/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="http://mannymarx.bandcamp.com/album/makla-tosh-2">MAKLA &#39;TOSH by The Uchujins (The 宇チューJins)</a></iframe>
            </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination pagination-lg">
                    <li>
                        <a href="www.mannymarx.com/#listen">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="www.mannymarx.com/#listen">1</a>
                    </li>
                    <li>
                        <a href="www.mannymarx.com/portfolio.html">2</a>
                    </li>
                    <!--
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    -->
                    
                    <li>
                        <a href="www.mannymarx.com/#listen">&raquo;</a>
                    </li>
                
                </ul>
            </div>
        </div>
</section>