---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="row">
    	<div class="col-lg-8 col-xs-12"><h2 style="padding-top:100px; pading-left:200px; text-align:right; color:#ff4b33; font-weight:700; text-shadow: 4px 4px 6px rgba(255,255,225,0.9);" class="post-title" itemprop="name headline">{{ page.title }}</h2>
    	</div>
    </div>
    <!--<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>-->
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
    <div class="container">
        <div class="row">
            <div class="span4"></div>
                <div class="span4"><iframe class="center-block" width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/3435165&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>
              <div class="span4"></div>
    </div>

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
	
</article>
