---
layout: default
---
<section class="bg-primary">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                	<a href="http://score-studios.jp/index.html"><img src="img/ScoreStudiosLogo.jpg"  class="reference_images" alt="scorestudios_logo" width="130" height="130"></a>
                    <blockquote>Manny is a pleasure to work with! Motivated, punctual and creative he has supplied us with music and sound effects for a variety of projects.<br><br>&mdash;<a href="http://score-studios.jp/index.html">James Kay, Score Studios</a></blockquote>
                    
                        <div class="text-right">
                        <a href="https://www.facebook.com/Score-Studios-107368219253/"><i class="fa fa-facebook" ></i></a>
                        <a href="https://twitter.com/ScoreStudios"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
<hr>   
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <a href="http://bakadaruku.blogspot.jp/"><img src="img/darc.jpg"  class="reference_images" alt="DARC" width="130" height="130"></a>
                    <blockquote>With nothing but a time-limit and a feeling I'm trying to achieve, Manny delivers tracks that suit my work, flow, and editing style perfectly. His tunes give my videos a unique edge that my clients and YouTube viewers love.
                    <br><br>&mdash;<a href="http://bakadaruku.blogspot.jp/">Nayalan (Darc) Moodley,
                    Photographer / Videographer / Designer / YouTuber</a></blockquote>
                    
                        <div class="text-right">
                         <a href="https://www.youtube.com/user/DarcNoodles"><i class="fa fa-youtube-play"></a></i>
                         <a href="https://www.facebook.com/darcjp/?fref=ts&__mref=message"><i class="fa fa-facebook"></a></i>
                        <a href="https://twitter.com/darcnoodles?lang=ja"><i class="fa fa-twitter"></i></a>
                        </div>
                </div>
            </div>
        </div>

<hr> 
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <img src="img/DavideMontoya.jpg"  class="reference_images" alt="Dave Montoya" width="130" height="130">
                    <blockquote>"I am a 2D & 3D artist who creates drawing videos and animations. Manny is very intuitive, conceptual and industrial in creating music that fits the various genres, moods and concepts that my art & videos encompass. He knows how to quickly compliment and accentuate work on many different levels! It's a pleasure working with him."<br><br>&mdash; <a href=" https://www.patreon.com/ryuscape">David Montoya</a></blockquote>
                    
                        <div class="text-right">
                         <a href="youtube.com/user/ryuscape "><i class="fa fa-youtube-play"></i></a
                          <a href="instagram.com/ryuscape"></a> <i class="fa fa-instagram"></i></a>

                        </div>
                </div>
            </div>
        </div>
<hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <img src="img/moth.jpg"  class="reference_images" alt="moth de la cruz" width="130" height="130">
                    <blockquote>Manny and I have collaborated many times over a few decades. His perspectives and approaches to music are utterly unique and are indispensable to me as a music partner and a listener.<br><br>&mdash;  <a href="https://soundcloud.com/mothcruz">Moth Cruz</a>, <a href="https://soundcloud.com/bullafey">BULLA FEY</a></blockquote>
                    
                        <div class="text-right">
                      <a href="https://soundcloud.com/bullafey"><i class="fa fa-soundcloud"></i></a>
                        <a href="https://www.youtube.com/channel/UCSo6FITZ6bKduJaXZTzir5g/videos"><i class="fa fa-youtube-play"></i></a>
                        </div>
                </div>
            </div>
        </div>
<hr>
<div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <img src="img/philipkendall.jpg"  class="reference_images" alt="philipkendall" width="130" height="130">
                    <blockquote>Manny's music has given several of our videos the additional impact they needed. Prolific, hardworking and always professional, I know I can always rely on Manny to deliver.<br><br>&mdash;  <a href="https://twitter.com/otokonomiyaki">Philip Kendall</a>, <a href="http://en.rocketnews24.com/">RocketNews24</a></blockquote>
                    
                        <div class="text-right">
                      <a href="https://twitter.com/otokonomiyaki"><i class="fa fa-twitter"></i></a>
                        </div>
                </div>
            </div>
        </div>
<hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right" >
                    <img src="img/bloodbath.jpg"  class="reference_images" alt="bloodbath mcgrath" width="130" height="130">
                    <blockquote>As a pro kickboxer, I rely on my entrance music to create an electric atmosphere as I head to the ring for battle.  I have been lucky enough to have Manny Marx create personal tracks for me on many occasions.  His songs not only pump me up for my up coming match, but also bring the crowd to their feet!<br> <br>&mdash;<a href="https://www.facebook.com/%E4%B8%8A%E5%B7%9E%E6%9D%BE%E4%BA%95%E3%82%B8%E3%83%A0-243663605694777/"> Brian "Bloodbath" McGrath, JMG North Star Gym</a></blockquote>
                    
                        <div class="text-right">                        
                        <a href="https://www.youtube.com/channel/UCYtUcqjoa9LqRCC5ZlK1u9Q"><i class="fa fa-youtube-play"></i></a>
                        <a href="https://www.facebook.com/%E4%B8%8A%E5%B7%9E%E6%9D%BE%E4%BA%95%E3%82%B8%E3%83%A0-243663605694777/"><i class="fa fa-facebook" ></i></a>


                        </div>
                </div>  
            </div>
        </div>
<hr>      
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <img src="img/brentthomas.jpg"  class="reference_images" alt="brent thomas" width="130" height="130">
                    <blockquote>Manny Marx has such a great range to his sound. I've got his music on three of my podcasts. His sci-fi jam is good for fireside chilling and just plain fun. It all sounds great.<br><br>&mdash;<a href="http://deadlytroubadour.com/">Brent Thomas Author / Podcaster</a></blockquote>
                    
                        <div class="text-right">
                         <a href="http://deadlytroubadour.com/"><i class="fa fa-wordpress"></a></i>
                         <a href="https://twitter.com/deadtroubadour"><i class="fa fa-twitter"></i></a>
                        </div>
                </div>
            </div>
        </div>
<hr> 
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <img src="img/johnnyjones.jpg"  class="reference_images" alt="johnny tokyo" width="130" height="130">
                    <blockquote>I had the pleasure of collaborating with Manny Marx on The Uchujins.  His track production is eclectic and translated great to high energy live shows.  Truly one of most unique artists I've come across.<br><br>&mdash; Johnny Jones</blockquote>
                    
                        <div class="text-right">
                         <a href="https://jp.linkedin.com/in/johnnytokyo"><i class="fa fa-linkedin"></a></i>
                        </div>
                </div>
            </div>
        </div>

</section>

