---
layout: default
---
 <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-right">
                	
                	<img src="face.png" class="img-circle" alt="" width="150" height="150">
                    <h3>blrub blurb blurb blrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurb </h3>
                    <div class="footer-right" >

<div>
        <a href="#"><i class="fa fa-facebook" style="background-color:#3b5998"></i></a>
        <a href="#"><i class="fa fa-twitter" style="background-color:#00aced"></i></a>
        <a href="#"><i class="fa fa-youtube" style="background-color: #bb0000"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
</div>

      </div>

                    
            </div>
        </div>
<br>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-right">
                   
                    <img src="face.png" class="img-circle" alt="" width="150" height="150">
                     <h3>blrub blurb blurb blrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurbblrub blurb blurbbl
                    
            </div>
        </div>
    </section>

<style>
.fa-twitter{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #00aced;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
}

</style>