---
layout: default
---
<section class="bg-primary">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                	<a href="http://score-studios.jp/index.html"><img src="img/ScoreStudiosLogo.png"  class="reference_images" alt="scorestudios_logo" width="130" height="130"></a>
                    <blockquote>Manny is a pleasure to work with! Motivated, punctual and creative he has supplied us with music and sound effects for a variety of projects.<br>&mdash;James Kay,<a href="http://score-studios.jp/index.html"> Score Studios</a></blockquote>
                    
                        <div class="text-right">
                        <a href="#"><i class="fa fa-facebook" style="background-color:#3b5998"></i></a>
                        <a href="https://twitter.com/ScoreStudios"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/Score-Studios-107368219253/"><i class="fa fa-youtube-play" ></i></a>
                        </div>
                </div>
            </div>
        </div>
<hr>   
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <img src="img/moth.jpg"  class="reference_images" alt="scorestudios_logo" width="130" height="130">
                    <blockquote>Manny and I have collaborated many times over a few decades. His perspectives and approaches to music are utterly unique and are indispensable to me as a music partner and a listener.<br>&mdash;Moth Cruz, <a href="http://mothdelacruz.bandcamp.com>">The Living</a> / <a href="https://soundcloud.com/bullafey">BULLA FEY</a></blockquote>
                    
                        <div class="text-right">
                        <a href="https://soundcloud.com/mothcruz"><i class="fa fa-soundcloud"></i></a>
                        <a href="https://www.youtube.com/channel/UCSo6FITZ6bKduJaXZTzir5g/videos"><i class="fa fa-youtube-play"></i></a>
                        <!-- </a>
                        <a href="#"><i class="fa fa-github"></i></a> -->
                        </div>
                </div>
            </div>
        </div>
<hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right" >
                    <img src="img/bloodbath.jpg"  class="reference_images" alt="scorestudios_logo" width="130" height="130">
                    <blockquote>As a pro kickboxer, I rely on my entrance music to create an electric atmosphere as I head to the ring for battle.  I have been lucky enough to have Manny Marx create personal tracks for me on many occasions.  His songs not only pump me up for my up coming match, but also bring the crowd to their feet!<br> &mdash;Brian "Bloodbath" McGrath, JMG North Star Gym</blockquote>
                    
                        <div class="text-right">                        
                        <a href="https://www.youtube.com/channel/UCYtUcqjoa9LqRCC5ZlK1u9Q"><i class="fa fa-youtube-play"></i></a>
                        <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a> -->
                        </div>
                </div>  
            </div>
        </div>
<hr>
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <img src="img/johnnyjones.png"  class="reference_images" alt="scorestudios_logo" width="130" height="130">
                    <blockquote>I had the pleasure of collaborating with Manny Marx on The Uchujins.  His track production is eclectic and translated great to high energy live shows.  Truly one of most unique artists I've come across.<br>&mdash; Johnny Jones</blockquote>
                    
                        <div class="text-right">
                         <a href="https://jp.linkedin.com/in/johnnytokyo"><i class="fa fa-linkedin"></i>
                        </div>
                </div>
            </div>
        </div>




</section>

