---
<!DOCTYPE html>
<html= lang="en">

  {% include head.html %}

  <body>

<div class="thankyoupage">
        	
	<div class="container container-table">
    		<div class="row vertical-center-row">
        		<div class="text-center col-md-4 col-md-offset-4">
        			<div class="header-content">
            			<div class="header-content-inner">
        					<h1>
        						Thanks for contacting me.</h1>
        						
        						<h1>
        						I'm looking forward to working with you!</h1>
        					<hr>

        					<a href="#about" class="btn btn-primary btn-xl page-scroll">Home</a></div>
        				</div>
        			</div>
    			</div>
			</div>
     
    </div>
</div>

  </body>

        
  <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
  </body>

</html>
